<launch>
    <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
    <param name="model" value="$(arg model)"/>

    <!-- edu_teleop_key already has its own built in velocity smoother -->
    <node pkg="edu_teleop" type="edu_teleop_key" name="edu_teleop_keyboard"  output="screen">
    </node>
</launch>
